@model IssueTracker.Common.Models.IssueEntity

@{
    ViewData["Title"] = "Edit";
}

<div class="captionText">Edit Issue</div>
<hr />
<div class="row">
    <div class="col-md-6 col-md-offset-3">
        <form asp-action="Edit" id="change-form" class="border-class">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id"/>
            <div class="form-group">
                <label asp-for="CreationDate" class="control-label"></label>
                <input asp-for="CreationDate" type="date" class="form-control" disabled/>
                <span asp-validation-for="CreationDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ShortDescription" class="control-label"></label>
                <input asp-for="ShortDescription" class="form-control"/>
                <span asp-validation-for="ShortDescription" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <textarea asp-for="Description" class="form-control"></textarea>
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CreatedBy" class="control-label"></label>
                <input asp-for="CreatedBy.FullName" class="form-control" disabled/>
                <span asp-validation-for="CreatedBy" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Status" class="control-label"></label>
                <select asp-for="Status" class="form-control" asp-items="Html.GetEnumSelectList<IssueStatuses>()" disabled></select>
                <span asp-validation-for="Status" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Priority" class="control-label"></label>
                <select asp-for="Priority" class="form-control" asp-items="Html.GetEnumSelectList<IssuePriorities>()"></select>
                <span asp-validation-for="Priority" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Urgency" class="control-label"></label>
                <select asp-for="Urgency" class="form-control" asp-items="Html.GetEnumSelectList<IssueUrgencies>()"></select>
                <span asp-validation-for="Urgency" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Comment</label>
                <textarea class="form-control" name="comment" required></textarea>
            </div>
            <div class="btn-group">
                @foreach (var item in ViewBag.PossibleActions)
                {
                    <action-button command="@item"></action-button>
                }
                <a asp-action="Index" class="btn btn-warning">Back to List</a>
            </div>
        </form>
    </div>
</div>



<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h4>Issue History</h4>
            <div class="table-responsive">
                <table class="table table-bordered table-striped">
                    <tr>
                        <th>
                            Date
                        </th>
                        <th>
                            User
                        </th>
                        <th>
                            Action
                        </th>
                        <th>
                            Comment
                        </th>
                    </tr>

                    @foreach (var item in Model.Transitions)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.TransitionDate)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.MadeBy.FullName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Command)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Comment)
                            </td>
                        </tr>
                    }

                </table>
            </div>
        </div>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
