@using IssueTracker.WebUI.TagHelpers
@model IssuesViewModel

@{
    ViewData["Title"] = "Index";
}

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h4>@Model.Caption</h4>
            <div class="table-responsive">
                <table class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <th>
                                <sort-header action="Index" up="@Model.SortModel.Up" current="@Model.SortModel.Current" property="@SortState.Column1" filter="@Model.SortModel.Filter">
                                    Creation Date
                                </sort-header>
                            </th>
                            <th>
                                <sort-header action="Index" up="@Model.SortModel.Up" current="@Model.SortModel.Current" property="@SortState.Column2" filter="@Model.SortModel.Filter">
                                    Name
                                </sort-header>
                            </th>
                            <th>
                                <sort-header action="Index" up="@Model.SortModel.Up" current="@Model.SortModel.Current" property="@SortState.Column3" filter="@Model.SortModel.Filter">
                                    Status
                                </sort-header>
                            </th>
                            <th>
                                <sort-header action="Index" up="@Model.SortModel.Up" current="@Model.SortModel.Current" property="@SortState.Column4" filter="@Model.SortModel.Filter">
                                    Priority
                                </sort-header>
                            </th>
                            <th>
                                <sort-header action="Index" up="@Model.SortModel.Up" current="@Model.SortModel.Current" property="@SortState.Column5" filter="@Model.SortModel.Filter">
                                    Urgency
                                </sort-header>
                            </th>
                            <th>
                                <sort-header action="Index" up="@Model.SortModel.Up" current="@Model.SortModel.Current" property="@SortState.Column6" filter="@Model.SortModel.Filter">
                                    Created By
                                </sort-header>
                            </th>
                            <th>Edit</th>
                            <th>Delete</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.Issues)
                        {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.CreationDate)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.ShortDescription)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Status)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Priority)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Urgency)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.CreatedBy.FullName)
                            </td>
                            <td>
                                <a asp-controller="Issues" asp-action="Edit" asp-route-id="@item.Id" class="btn btn-primary btn-xs"><span class="glyphicon glyphicon-pencil"></span></a>
                            </td>
                            <td>
                                <a asp-controller="Issues" asp-action="Delete" asp-route-id="@item.Id" class="btn btn-primary btn-xs"><span class="glyphicon glyphicon-trash"></span></a>
                            </td>
                        </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>


