@model DashboardViewModel
@{
    ViewData["Title"] = "Home Page";
}


<div class="jumbotron">
    <h1>Welcome to Issue Tracker</h1>
    <p class="lead">This application will help you to create and track issues.</p>
    @if (!User.Identity.IsAuthenticated)
    {
        <p class="lead">To use this app please login or <a asp-controller="Users" asp-action="Create">Register</a></p>
    }

</div>
@if(User.Identity.IsAuthenticated)
{
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h4>Recent Activities</h4>
                <div class="table-responsive">
                    <table class="table table-bordered table-striped">
                        <thead>
                            <tr>
                                <th>Issue</th>
                                <th>User</th>
                                <th>Action</th>
                                <th>Comment</th>
                            </tr>
                        </thead>
                        <tbody>
                        @foreach (var item in Model.RecentActivities)
                        {
                            <tr>
                                <td>@item.Issue.ShortDescription</td>
                                <td>@item.MadeBy.FullName</td>
                                <td>@item.Command</td>
                                <td>@item.Comment</td>
                            </tr>
                        }
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="col-md-6">
                <h4>Last Issues</h4>
                <div class="table-responsive">

                    <table class="table table-bordered table-striped">
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Created By</th>
                                <th>Status</th>
                                <th>Edit</th>
                                <th>Delete</th>
                            </tr>
                        </thead>

                        <tbody>
                        @foreach (var item in Model.LastIssues)
                        {
                            <tr>
                                <td>@item.ShortDescription</td>
                                <td>@item.CreatedBy.FullName</td>
                                <td>@item.Status</td>
                                <td>
                                    <a asp-controller="Issues" asp-action="Edit" asp-route-id="@item.Id" class="btn btn-primary btn-xs"><span class="glyphicon glyphicon-pencil"></span></a>
                                </td>
                                <td>
                                    <a asp-controller="Issues" asp-action="Delete" asp-route-id="@item.Id" class="btn btn-primary btn-xs"><span class="glyphicon glyphicon-trash"></span></a>
                                </td>
                            </tr>
                        }


                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
}
